**/node_modules
**/dist
**/build
**/.turbo
**/.cache
**/.pnpm-store
**/coverage
**/.tanstack
**/tsconfig.tsbuildinfo

.git
.github
.husky
.vscode
.zed
.claude

**/.env
**/.env.*
!**/.env.example

docker-compose.yaml
*.log

CHANGELOG.md
ROADMAP.md
README.md
